@charset "utf-8";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #25272b;
  background: #fff;
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row__aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.col__aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

input[type=button],
button {
  cursor: pointer;
  outline: none;
}

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus,
input:active {
  outline: none;
}

input:focus::-webkit-input-placeholder,
input:active::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-moz-placeholder,
input:active::-moz-placeholder {
  opacity: 0;
}

input:focus:-moz-placeholder,
input:active:-moz-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder,
input:active:-ms-input-placeholder {
  opacity: 0;
}

input::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

input::-moz-placeholder {
  color: #fff;
  font-size: 14px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

input:-moz-placeholder {
  color: #fff;
  font-size: 14px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

input:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

@media screen and (max-width: 1100px) {
  .lg-hide {
    display: none;
  }
}

.md-show {
  display: none;
}

@media screen and (max-width: 960px) {
  .md-show {
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .md-hide {
    display: none !important;
  }
}

@media screen and (max-width: 780px) {
  .sm-hide {
    display: none;
  }
}

.sm-show {
  display: none;
}

@media screen and (max-width: 780px) {
  .sm-show {
    display: block;
  }
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 780px) {
  h1 {
    text-align: center;
  }
}

.btn-styles {
  width: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  background: #b92d34;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-styles:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background: #e72d3d;
}

@media screen and (max-width: 560px) {
  .btn-styles {
    width: 100%;
  }
}

.input-styles {
  width: 100%;
  border: none;
  border-bottom: 1px solid #b92d34;
  background: none;
  padding: 13px 8px;
  margin-top: 30px;
  font-size: 16px;
}

.input-styles::-webkit-input-placeholder {
  color: #76787b;
  font-size: 18px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.input-styles::-moz-placeholder {
  color: #76787b;
  font-size: 18px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.input-styles:-moz-placeholder {
  color: #76787b;
  font-size: 18px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.input-styles:-ms-input-placeholder {
  color: #76787b;
  font-size: 18px;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.subtitle {
  padding-bottom: 18px;
  margin-top: 97px;
  font-size: 36px;
  font-weight: 700;
  position: relative;
}

.subtitle:before {
  content: '';
  width: 78px;
  height: 4px;
  background: #b92d34;
  position: absolute;
  left: 0;
  bottom: 0;
}

.tabs {
  margin-top: 24px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: 787px;
  margin-bottom: 55px;
}

@media screen and (max-width: 560px) {
  .tabs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.tabs .one-tab {
  font-weight: 500;
  padding-right: 100px;
  margin-bottom: 25px;
  padding-bottom: 7px;
  border-bottom: 3px solid #e4e4e4;
  white-space: nowrap;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .tabs .one-tab {
    padding-right: 80px;
  }
}

@media screen and (max-width: 780px) {
  .tabs .one-tab {
    padding-right: 40px;
  }
}

.tabs .one-tab:last-child {
  padding-right: 0;
}

.tabs .one-tab:last-child.active:before {
  width: 100%;
}

.tabs .one-tab.choose,
.tabs .one-tab.active {
  position: relative;
}

.tabs .one-tab.choose:before,
.tabs .one-tab.active:before {
  content: '';
  width: calc(100% - 100px);
  width: -moz-calc(100% - 10px);
  height: 3px;
  background: #b92d34;
  position: absolute;
  bottom: -3px;
}

@media screen and (max-width: 560px) {
  .tabs .one-tab.choose:before,
  .tabs .one-tab.active:before {
    width: calc(100% - 50px);
    width: -moz-calc(100% - 50px);
  }
}

.steps {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 14px;
  margin-bottom: 42px;
}

@media screen and (max-width: 780px) {
  .steps {
    display: none;
  }
}

.steps li {
  padding-right: 22px;
  color: #25272b;
  position: relative;
}

.steps li:last-child a {
  pointer-events: none;
  border-bottom: none;
  color: #25272b;
}

.steps li:nth-child(n + 2):before {
  content: '>';
  width: 4px;
  height: 4px;
  position: absolute;
  left: -15px;
}

.steps li a {
  color: #b92d34;
  border-bottom: 1px solid #b92d34;
}

@media screen and (max-width: 780px) {
  header {
    margin-bottom: 40px;
  }
}

header .top-header {
  background: #25272b;
  padding: 11px 0;
}

@media screen and (max-width: 780px) {
  header .top-header {
    display: none;
  }
}

header nav .navigation li {
  margin-right: 50px;
}

@media screen and (max-width: 960px) {
  header nav .navigation li {
    margin-right: 18px;
  }
}

header nav .navigation li a {
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

header nav .navigation li a:hover {
  color: #e4e4e4;
}

header .search-form {
  width: 100%;
  max-width: 248px;
}

header .search-form__input {
  border: none;
  background: inherit;
  border-bottom: 1px solid #fff;
  width: 100%;
  max-width: 216px;
  color: #fff;
  font-size: 14px;
  text-align: right;
}

header .search-form__button {
  background: inherit;
  border: none;
}

header .main-content-head {
  padding: 36px 0;
}

@media screen and (max-width: 780px) {
  header .main-content-head {
    padding: 0;
  }
}

header .main-content-head .mobile-menu-toggle {
  margin-left: -15.75px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 200;
}

header .main-content-head .mobile-menu-toggle .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header .main-content-head .mobile-menu-toggle .hamRotate.active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .main-content-head .mobile-menu-toggle .hamRotate180.active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

header .main-content-head .mobile-menu-toggle .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  -o-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #25272b;
  stroke-width: 4;
  stroke-linecap: round;
}

header .main-content-head .mobile-menu-toggle .ham-burger .top {
  stroke-dasharray: 40 160;
}

header .main-content-head .mobile-menu-toggle .ham-burger .middle {
  stroke-dasharray: 40 142;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

header .main-content-head .mobile-menu-toggle .ham-burger .bottom {
  stroke-dasharray: 40 85;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
  -o-transition: transform 400ms, stroke-dashoffset 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms;
  transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms;
}

header .main-content-head .mobile-menu-toggle .ham-burger.active .top {
  stroke-dashoffset: -64px;
}

header .main-content-head .mobile-menu-toggle .ham-burger.active .middle {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

header .main-content-head .mobile-menu-toggle .ham-burger.active .bottom {
  stroke-dashoffset: -64px;
}

@media screen and (max-width: 780px) {
  header .main-content-head .logo-block {
    margin-right: auto;
    margin-left: 20px;
  }
}

header .main-content-head .logo-block__img {
  width: 100%;
  max-width: 202px;
  height: auto;
}

@media screen and (max-width: 780px) {
  header .main-content-head .logo-block__img {
    max-width: 156px;
  }
}

header .main-content-head .logo-block__description {
  font-size: 12px;
  color: #7e7f82;
  padding-left: 40px;
}

@media screen and (max-width: 780px) {
  header .main-content-head .logo-block__description {
    padding-left: 31px;
  }
}

@media screen and (max-width: 560px) {
  header .main-content-head .logo-block__description {
    font-size: 9px;
  }
}

header .contacts-list {
  margin-left: 30px;
}

@media screen and (max-width: 960px) {
  header .contacts-list {
    margin-left: 14px;
  }
}

header .contacts-list__link {
  color: #25272b;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

header .contacts-list__link:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

header .contacts-list__link > img {
  padding-right: 10px;
}

header .dropdown-mobile-menu {
  width: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 322;
  padding: 30px 15px;
  border-radius: 0 8px 8px 0;
  top: 60px;
  background: #25272b;
  left: 0;
  -webkit-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  transform: translateX(-101%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

header .dropdown-mobile-menu.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

header .dropdown-mobile-menu .contacts-list {
  margin-bottom: 15px;
  margin-left: 0;
}

header .dropdown-mobile-menu .contacts-list__link {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #fff;
}

header .dropdown-mobile-menu nav .navigation li {
  margin-bottom: 15px;
}

.gallery .photos {
  margin-top: 60px;
  font-weight: 500;
}

@media screen and (max-width: 780px) {
  .gallery .photos {
    margin-top: 30px;
  }
}

@media screen and (max-width: 780px) {
  .gallery .photos > .row__aic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.gallery .photos > .row {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 780px) {
  .gallery .photos > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.gallery .photos h1 {
  margin-bottom: 43px;
}

.gallery .photos-title {
  font-size: 24px;
  margin-bottom: 10px;
}

@media screen and (max-width: 780px) {
  .gallery .photos-title {
    text-align: center;
    font-size: 24px;
  }
}

@media screen and (max-width: 560px) {
  .gallery .photos-title {
    font-size: 20px;
  }
}

.gallery .photos-link {
  font-size: 16px;
  color: #25272b;
  padding-right: 26px;
  position: relative;
}

.gallery .photos-link:after {
  content: '';
  background: url(../images/arrow-right.png) no-repeat;
  width: 11px;
  height: 10px;
  position: absolute;
  right: 0;
  top: calc((100% - 10px) / 2);
  top: -webkit-calc((100% - 10px) /2);
}

.gallery .photos-link__back {
  padding-right: 0;
  padding-left: 23px;
}

.gallery .photos-link__back:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 0;
}

.gallery .photos-description {
  font-size: 14px;
  max-width: 760px;
  margin: 7px 0 10px;
  font-weight: 400;
  line-height: 1.1em;
}

.gallery .photos-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (max-width: 780px) {
  .gallery .photos-block {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.gallery .photos-block__img {
  margin-top: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(20% - 30px);
}

@media screen and (max-width: 1100px) {
  .gallery .photos-block__img {
    width: calc(25% - 30px);
  }
}

@media screen and (max-width: 960px) {
  .gallery .photos-block__img {
    width: calc(33.33333% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .gallery .photos-block__img {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 385px) {
  .gallery .photos-block__img {
    width: calc(100% - 30px);
  }
}

footer {
  margin-top: 110px;
  background: #fafafa;
  padding: 38px 0 30px;
}

@media screen and (max-width: 780px) {
  footer {
    margin-top: 60px;
  }
}

@media screen and (max-width: 780px) {
  footer .wrapper > .row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

footer .logo {
  text-align: left;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}

@media screen and (max-width: 780px) {
  footer .logo {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}

footer .logo a {
  border-bottom: none;
}

footer .logo a img {
  max-width: 75px;
}

footer p {
  font-size: 14px;
  line-height: 1.2em;
}

footer a {
  color: #b92d34;
  font-size: 14px;
  display: inline-block;
  text-decoration: underline;
}

footer .name {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 24px;
}

footer .name + p {
  padding-bottom: 19px;
}

footer .col {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 325px;
}

@media screen and (max-width: 780px) {
  footer .col {
    margin-top: 15px;
  }
}

@media screen and (max-width: 960px) {
  footer .col {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }
}

footer .col:nth-child(2) {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

@media screen and (max-width: 780px) {
  footer .col:nth-child(2) {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

footer .col:nth-child(3) {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

@media screen and (max-width: 780px) {
  footer .col:nth-child(3) {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

footer .col:nth-child(3) .navigation li:nth-child(-n + 3) {
  max-width: 80px;
}

@media screen and (max-width: 385px) {
  footer .col:nth-child(3) .navigation li:nth-child(-n + 3) {
    max-width: 100%;
  }
}

footer .col:nth-child(4) {
  -ms-flex-preferred-size: 14%;
  flex-basis: 14%;
}

@media screen and (max-width: 780px) {
  footer .col:nth-child(4) {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 780px) {
  footer .col:nth-child(4) ul li:first-child {
    padding: 10px 0;
  }
}

@media screen and (max-width: 385px) {
  footer .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
  }
}

footer ul {
  height: 64px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
  footer ul {
    height: auto;
  }
}

footer ul li {
  line-height: 1.2;
  width: 100%;
  font-size: 14px;
}

@media screen and (max-width: 960px) {
  footer ul li a {
    padding: 10px 0;
  }
}

.categories .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (max-width: 780px) {
  .categories .grid {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.categories .grid-block {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-top: 75px;
}

@media screen and (max-width: 960px) {
  .categories .grid-block {
    width: calc(33.33333% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .categories .grid-block {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .categories .grid-block {
    width: calc(83.33333% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .categories .grid-block {
    text-align: center;
  }
}

.categories .grid-block__img {
  margin-bottom: 32px;
  width: auto;
  text-align: center;
}

.categories .grid-block__img img {
  height: auto;
  max-height: 163px;
}

.categories .grid-block__name {
  color: #b92d34;
  font-size: 14px;
  text-decoration: underline;
}

.categories .grid-block__price {
  margin-top: 37px;
  font-size: 20px;
}

@media screen and (max-width: 780px) {
  .categories .grid-block__price {
    margin-top: 20px;
  }
}

@media screen and (max-width: 560px) {
  .categories .grid-block__price {
    text-align: center;
  }
}

.catalog {
  min-height: 630px;
}

.catalog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
}

.catalog .container .block-catalog {
  margin-right: 60px;
}

@media screen and (max-width: 385px) {
  .catalog .container .block-catalog {
    margin-right: 0;
  }
}

.catalog .container .block-catalog:first-child {
  max-width: 320px;
  width: 100%;
}

.catalog .container .block-catalog:nth-child(3) {
  max-width: 240px;
  width: 100%;
}

.catalog .container .block-catalog ul {
  margin-top: 20px;
}

.catalog .container .block-catalog ul li {
  padding-top: 2px;
}

.catalog .container .block-catalog ul li:first-child {
  margin-bottom: 20px;
}

.catalog .container .block-catalog ul li:first-child a {
  color: #25272b;
  font-weight: 700;
}

.catalog .container .block-catalog ul li a {
  color: #b92d34;
  text-decoration: underline;
  font-size: 14px;
}

@media screen and (max-width: 780px) {
  .catalog .container .block-catalog ul li a {
    line-height: 1.8;
    padding: 5px 0;
  }
}

.bg-banner {
  background: url(../images/bg-banner.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 700px;
}

@media screen and (max-width: 560px) {
  .bg-banner {
    padding-bottom: 100px;
  }
}

.banner {
  padding-bottom: 205px;
}

.banner .offset-left {
  padding-left: 66px;
}

@media screen and (max-width: 780px) {
  .banner .offset-left {
    padding-left: 0;
  }
}

.banner h1 {
  font-size: 60px;
  padding: 40px 0 27px 0;
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .banner h1 {
    font-size: 54px;
  }
}

@media screen and (max-width: 780px) {
  .banner h1 {
    text-align: left;
    font-size: 48px;
    padding-top: 0;
  }
}

@media screen and (max-width: 560px) {
  .banner h1 {
    font-size: 36px;
  }
}

.banner h1 + p {
  font-size: 24px;
  margin-bottom: 60px;
}

@media screen and (max-width: 560px) {
  .banner h1 + p {
    font-size: 20px;
  }
}

.questions-block {
  font-size: 18px;
  padding-top: 43px;
}

.questions-block__question {
  margin-top: 17px;
  position: relative;
  width: 100%;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 16px;
  padding: 15px 31px 15px 58px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 4;
  line-height: 1.2;
}

.questions-block__question:before {
  content: 'B.:';
  position: absolute;
  font-size: 18px;
  left: 30px;
}

.questions-block__question:after {
  content: '';
  background: url(../images/arrow-open.png) no-repeat;
  background-size: cover;
  position: absolute;
  right: 25px;
  width: 6px;
  height: 12px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.questions-block__question.open:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.questions-block__answer {
  padding: 28px 31px 28px;
  text-indent: 28px;
  background: #fcfcfc;
  position: relative;
  display: none;
  border-radius: 0 0 12px 12px;
  margin-top: -10px;
  z-index: 3;
  line-height: 1.2;
}

.questions-block__answer:before {
  content: 'О.:';
  position: absolute;
  font-size: 18px;
  left: 1px;
}

.questions .ask-question {
  margin-top: 96px;
  padding: 50px 0;
  background: #fcfcfc;
  font-size: 24px;
}

@media screen and (max-width: 780px) {
  .questions .ask-question {
    margin-top: 35px;
  }
}

@media screen and (max-width: 560px) {
  .questions .ask-question .row__aic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.questions .ask-question p {
  line-height: 1.2;
}

@media screen and (max-width: 560px) {
  .questions .ask-question a {
    margin-top: 15px;
  }
}

.contacts-form {
  margin-top: 96px;
}

@media screen and (max-width: 780px) {
  .contacts-form {
    margin-top: 30px;
  }
}

@media screen and (max-width: 960px) {
  .contacts-form .wrapper > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.contacts-form .subtitle {
  margin-top: 0;
}

.contacts-form p {
  margin-top: 33px;
  font-size: 18px;
}

.contacts-form a {
  margin-top: 15px;
  color: #25272b;
}

.contacts-form form {
  margin-top: 40px;
}

@media screen and (max-width: 960px) {
  .contacts-form form {
    width: 100%;
  }
}

.contacts-form form a {
  margin-top: 42px;
  color: #fff;
}

.contacts-form form .privacy-policy {
  padding-left: 23px;
  margin-top: 27px;
  position: relative;
  max-width: 250px;
}

.contacts-form form .privacy-policy input[type=checkbox] {
  display: none;
}

.contacts-form form .privacy-policy input[type=checkbox]:checked + label:before {
  color: #000;
}

.contacts-form form .privacy-policy label {
  font-size: 14px;
}

.contacts-form form .privacy-policy label a {
  color: #25272b;
  text-decoration: underline;
}

.contacts-form form .privacy-policy label:before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  font-size: 14px;
  line-height: 15px;
  margin: -5px 5px 0 0;
  height: 13px;
  border-radius: 2px;
  border: 1px solid #cbbd9b;
  background: #fbedc9;
  width: 13px;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: color ease .3s;
  -o-transition: color ease .3s;
  transition: color ease .3s;
  position: absolute;
  top: 7px;
  left: 0;
}

.contacts-form .map {
  width: 100%;
  max-width: 826px;
  margin-left: 30px;
}

@media screen and (max-width: 960px) {
  .contacts-form .map {
    margin-top: 30px;
    margin-left: 0;
    max-width: 100%;
  }
}

.contacts-form .map iframe {
  width: 100%;
  height: 494px;
}

/*# sourceMappingURL=maps/style.css.map */
